header {
    display: flex;

    min-height: 167px;
}

img.logo-img {
    height: 72px;
    width: 72px;
    margin-top: 19px;
    margin-left: 28px;
}

img.basket-img {
    width: 26px;
    height: 29px;
}

button.button-header {
    width: 125px;
    height: 49px;
    margin-top: 30px;
    margin-left: 39px;

    background-color: #339933;

    border: none;
    border-radius: 5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

ul.header-list {
    display: flex;
    justify-content: space-between;
    width: 331px;
    margin-left: 594px;
    margin-top: 44px;

    list-style-type: none;
}

a {
    /* font-family: 'Montserrat'; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #000000;

    text-decoration: none;
}

.basket {
    margin-top: 40px;
    margin-right: 30px;
    margin-left: 175px;
}

@media (max-width: 1440px) {
    header {
        display: flex;
        justify-content: space-around;
    }

    ul.header-list {
        margin-left: 50px;
    }

    .basket {
        margin-right: 20px;
        margin-left: 75px;
    }
  }

@media (max-width: 800px) {
    ul.header-list {
        width: 150px;
        flex-direction: column;
        margin-top: 0;
        justify-content: space-around;
    }
}

@media (max-width: 550px) {
    img.logo-img {
        display: none;
    }
}

@media (max-width: 440px) {
    button.button-header {
        width: 125px;
}

a {
    font-size: 12px;
    line-height: 10px;
    color: #000000;
}

ul.header-list {
    margin-left: 24px;
    align-items: center;
}

.basket {
    margin-left: 25px;
}

header {
    min-height: 110px;
}
}