section.sale-new-season {
    max-height: 600px;

    display: flex;
    justify-content: space-between;

    background-color: #A1E2EB;
}

div.sale {
    display: flex;
    flex-direction: column;

    padding-top: 130px;
    padding-left: 50px;
}

h3.sale-title {
    height: 104px;
    margin: 0;
    margin-top: 3px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 104px;
    color: #FFFFFF;
    text-align: left;
}

p.sale-new-season {
    margin: 0;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 63px;
    line-height: 82px;
    color: #FFFFFF;

    text-align: left;
}

a.sale-button {
    width: 155px;
    height: 82px;
    margin-top: 60px;

    background-color: #FFFFFF;
    border-radius: 13px;
    border: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 78px;
    color: #2D2D2D;
}

img.sale-img {
    margin-top: -60px;
}

@media (max-width: 1100px) {
    img.sale-img {
        display: none;
    }

    div.sale {
        padding-top: 80px;

    }
}

@media (max-width: 1100px) {
    h3.sale-title {
        font-size: 60px;
        line-height: 78px;
    }

    p.sale-new-season {
        font-weight: 600;
        font-size: 50px;
        line-height: 65px;
    }

    div.sale {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}